/*Global Theme Control Variables*/
:root {
  /*
  --bg-color-1: #1F2833;
  --title-text-color-1: #66FCF1;
  --body-text-color-1: #C5C6C7;
  --highlight-text-color: #B29B52;
  --feature-color-1: #45A29E;
  */
  --bg-color-1: #dfd7ca;
  --title-text-color-1: #3d4548;
  --body-text-color-1: #8498a8;
  --highlight-text-color: white; /*Find better color*/
  --feature-color-1: #cfcfcfa1;

  --page-margin: 0 50px;

  font-family: 'Jura', sans-serif;
}

@font-face {
  font-family: 'Jura';
  src: url('fonts/Jura/Jura-VariableFont_wght.ttf') format('truetype');
  /* Add additional font weights and styles if needed */
  font-weight: 450;
  font-style: normal;
}

::-webkit-scrollbar {
  display: none; /* Hide Scrollbar - Chrome */
}

body {
    background-color:var(--bg-color-1);
    overflow-x: hidden;
    margin: none;
    padding: none;
}
h1 {
  color: var(--title-text-color-1);
  font-size: 10em;
}
p {
  color: var(--body-text-color-1);
  font-size: 2.5em;
}

.button-1 {
  height: 25px; width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--body-text-color-1);
  border: 2px solid var(--highlight-text-color);
  border-radius: 10px;
  padding: 18px 36px;
  font-size: 18px;
  text-decoration: none;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 var(--highlight-text-color);
  --transition-time: 0.3s; /* set transition times */
  -webkit-transition: ease-out var(--transition-time);
  -moz-transition: ease-out var(--transition-time);
  transition: ease-out var(--transition-time);
}
.b1-slide-right:hover {
  box-shadow: inset 400px 0 0 0 var(--highlight-text-color);
}

.navbar {
  position: fixed;
  overflow: hidden;
	width: 95%;
  padding: 25px 0;
  top: 0;
  background-color: var(--bg-color-1);
  transition: top 0.2s ease-in-out;
}

.logo {
  float: left;
  padding: 0 50px;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 50px;
  position: relative;
}

nav a {
  padding: none;
  font-size: 25px;
  color: black;
  background-color: var(--bg-color-1);
  border: none;
  position: relative;
  text-decoration: none;
}

nav a::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: var(--highlight-text-color);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
  transform: scaleX(0);
}

nav a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.page-section {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
  -ms-overflow-style: none;  /* Hide Scrollbar - Internet Explorer 10+ */
  scrollbar-width: none;  /* Hide Scrollbar - Firefox */
}

.page-section-sub {
  opacity: 0; 
  transition: opacity 0.3s ease-in-out; 
  background-color: var(--bg-color-1);
  color:var(--body-text-color-1);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 10vw 10vh;
}

.flexbox-1 {
  background-color: var(--bg-color-1);
  color:var(--body-text-color-1);
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  height: 100%;
  padding: 0 10px;
}
.flexbox-1 h1 {
  margin: 0;
  padding: 5px;
  font-size: 7em;
  text-align: left;
}
.flexbox-1 p {
  margin: 0;
  padding: 5px;
  font-size: 2.75em;
  text-align: left;
}

#project-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 100px 25px;
}

.card h2 {
  color: var(--title-text-color-1);
  font-size: 3em;
}
.card p {
color: var(--body-text-color-1);
}

.card {
  background-image: linear-gradient(var(--feature-color-1), #eae5de);
  border-radius: 10px;
  overflow: hidden;
  margin: none;
  padding: 15px;
  height: inherit;
  width: inherit;
  text-align: center;
}

.card img {
  width: 50px;
  height: 50px;
  border-radius: 4px;
  margin-bottom: 15px;
}

.card a {
  display: inline-block;
  padding: 10px 15px;
  background-color: var(--bg-color-1);
  color: var(--body-text-color-1);
  text-decoration: none;
  border-radius: 4px;
}

.card-link {
  text-decoration: none;
  padding: none;
  margin: 50px;
  height: 500px;
  width: 500px;
}

.page {
  background-color: var(--bg-color-1);
  color:var(--body-text-color-1);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 10vw 10vh;
}